<div class="home-callout text-center container-fluid">
    <h1>Connect with the best in the video & filmmaking industry.</h1>
    <h3>Find filmmakers, video editors, animators, and more.</h3>
</div>
<div class="client-logos text-center container-fluid">
    <div class="row ">
        <div class="client-logos-pad">
            <div class="col-lg-2 col-lg-offset-1">
               <img class="img-responsive" src="http://placehold.it/200x100" alt="">
            </div>
            <div class="col-lg-2">
               <img class="img-responsive" src="http://placehold.it/200x100" alt="">
            </div>
            <div class="col-lg-2">
               <img class="img-responsive" src="http://placehold.it/200x100" alt="">
            </div>
            <div class="col-lg-2">
               <img class="img-responsive" src="http://placehold.it/200x100" alt="">
            </div>
            <div class="col-lg-2">
               <img class="img-responsive" src="http://placehold.it/200x100" alt="">
            </div>
        </div>
    
    <div class="col-lg-12">
        <h5>Trusted by these companies.</h5>
    </div>
    </div>
       


</div>