/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  
 @import 'bootstrap-sprockets';
 @import 'bootstrap'; 
 
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 h1, h2, h3 {
     font-family: 'Open Sans', sans-serif
 }

.home-callout, .navbar{
  background-color: #6a7484;
  color: white;
}

.home-callout {
  margin-top: -20px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.navbar{
    border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
    color: white;
    &:hover{
        color: white;
        opacity: .75;
    }
}

.navbar-default .navbar-brand{
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #66707f;
  }
}

//client logo stuff

.client-logos{
    padding-top: 20px;
    background-color: #ededed;
    color: #6a7484;
    padding-bottom: 40px;
}

.client-logos-pad{
    padding-top: 20px;
}

.gray{
   background-color: #ededed;
}







