/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  
 @import 'bootstrap-sprockets';
 @import 'bootstrap'; 
 
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 h1, h2, h3 {
     font-family: 'Open Sans', sans-serif
 }

.home-callout, .navbar{
  background-color: #1e242d;
  color: white;
}

.full-image{
    background: url('https://images.unsplash.com/photo-1470955233021-2c79a52e5034?dpr=2&auto=format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.home-callout {
  margin-top: -20px;
  padding-top: 150px;
  padding-bottom: 200px;
}

.navbar{
    border: none;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav li a {
    color: white;
    &:hover{
        color: white;
        opacity: .75;
    }
}

.navbar-default .navbar-brand{
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #66707f;
  }
}

//client logo stuff

.client-logos{
    padding-top: 20px;
    background-color: #ededed;
    color: #6a7484;
    padding-bottom: 40px;
}

.client-logos-pad{
    padding-top: 20px;
}

.gray{
   background-color: #ededed;
}

// Log in log out notice

.flash-container {
  position: absolute;
  width: 100%;
}
.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
}

.home-signup-links{
  margin-top:30px;
  margin-bottom:30px;
  color:#6a7484;
  padding:30px
  
}



